version: '3.8'

services:
  api:
    build:
      context: ../
      dockerfile: docker/Dockerfile
    image: cats-dogs-classifier:latest
    ports:
      - "8000:8000"
    volumes:
      - ../models:/app/models
    restart: always
    environment:
      - MODEL_PATH=models/model.pt
